<h1>Edit Event</h1> 

<%= form_for @event do |f| %>

  <% if @event.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@event.errors.count, "error") %> prohibited this event from being saved:</h2>

      <ul>
      <% @event.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>


<p>
  <%= f.label :title %> <br />
  <%= f.text_field :title %>
</p>

<p>
  <%= f.label :place %> <br />
  <%= f.text_field :place %>
</p>

<p>
  <%= f.label :from %> <br />
  <%= f.text_field :from %>
</p>

<p>
  <%= f.label :to %> <br />
  <%= f.text_field :to %>
</p>

<p>
  <%= f.label :all_day %> <br />
  <%= f.check_box :all_day %>
</p>

<p>
  <%= f.label :calendar_id, "Calendar" %> <br />
  <%= f.collection_select :calendar_id, current_user.calendars, :id, :name %>
</p>

<p>
  <%= f.label :description %> <br />
  <%= f.text_area :description %>
</p>

<p>
  <%= f.label :recurring, "Recurring?" %>
  <%= f.check_box :recurring %>
</p>

<div id="recurrence">
<p>
  <%= f.label :recurrence_frequency %> <br />
  <%= f.select :recurrence_frequency, Event::RECURRENCE_FREQUENCIES, :include_blank => true %>
</p>

<p>
  <%= f.label :recurrence_until %> <br />
  <%= f.date_select :recurrence_until, :include_blank => true %>
</p>
</div>

<p>
  <%= f.submit "Save Changes" %>
</p>
<% end %>

<%= button_to "Delete Event", @event, :method => :delete, :confirm => "Are you sure?" %>

<%= javascript_tag do %>

  $(document).ready(function() {
    if (!$("#event_recurring")[0].checked) $("#recurrence").hide();

    $("#event_recurring").change(function() {
      $("#recurrence").toggle();
    });
  });

<% end %>
