<%= stylesheet_link_tag "ui-lightness/jquery-ui-1.8.4.custom" %>

<h1>Calendar</h1>

<div id='calendar'></div>

<div id='new_event_div' title='Add event' style='display: none;'>
  <%= form_for Event.new(:all_day => false), :remote => true do |f| %>
    <%= f.hidden_field 'from' %>
    <%= f.hidden_field 'to' %>
    <%= f.hidden_field 'all_day' %>
    <p id='new_event_from'><p>
    <p>Title: <%= f.text_field 'title' %></p>
    <p><%= f.submit 'Create' %></p>
  <% end %>
</div>

<%= javascript_include_tag 'fullcalendar.js' %>
<%= javascript_include_tag 'show_calendar.js' %>

<%= javascript_tag do %>

$(document).ready(function() {

  $('#calendar').fullCalendar({
    events: "/events.json",
    header: {
      left: 'title',
      center: '',
      right: 'today agendaDay,agendaWeek,month prev,next'
    },
    defaultView: 'agendaWeek',
    height: $(window).height(),
    firstHour: 8,
    dayClick: dayClicked, 
    eventDrop: eventDropped,
    eventResize: eventResized,
    <% if current_user.preference.day_before_month? -%>
    columnFormat: {
      month: 'ddd', 
      week: 'ddd d/M', 
      day: 'dddd d/M'
    },
    <% end -%>
    <% if current_user.preference.twenty_four_hour_format? -%>
    timeFormat: {
      agenda: 'H:mm{ - H:mm}',
      '': 'H:mm'
    },
    axisFormat: 'H:mm',
    <% end -%>
    firstDay: <%= current_user.preference.week_start %>
  })

});

<% end %>
