<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html>
<head>
  <title>Kalendr - Your calendar</title>
  <%= stylesheet_link_tag :all %>
  <%= stylesheet_link_tag "redmond/jquery-ui-1.8.7.custom" %>
  <%= stylesheet_link_tag "/calendars/styles.css" %>
  <%= javascript_include_tag 'jquery-1.4.4.min' %>
  <%= javascript_include_tag 'jquery-ui-1.8.7.custom.min' %>
  <%= javascript_include_tag 'rails' %>
  <%= csrf_meta_tag %>
</head>
<body>
  <%= render :partial => "shared/user_navigation" %>
  <%= yield %>
</body>
</html>
